@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.nav-logo {
  width: 200px;
}

nav {
  position: relative;
  height: 120px;
  padding: 1.5em;
}

nav ol {
  padding: 0;
  width: 20em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav li {
  list-style-type: none;
  display: inline;
  padding: .5em 1em .5em 1em;
  font-size: 0.8em;
  font-family: 'Tenor Sans', sans-serif;
  color: black;
}

nav a {
  text-decoration: none;
}

.center {
  text-align: center;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.banner {
  position: relative;
  height: 18em;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-size: 1em;
  margin-bottom: 3em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
}

footer img {
  width: 120px;
  display: inline;
  float: left;

}

footer p {
  font-size: 0.6em;
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
}

footer div {
  position: relative;
  height: 2em;
}

.button {
  text-decoration: none;
  padding: 1em;
  color: black;
  border: 1px solid;
}
